<template name="default">
	{{>bertAlert}}
	{{>header}}
  <div id="wrapper">

    <!-- Sidebar -->
    {{#if authenticated}}
      {{>sidebar}}
    {{/if}}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        {{#if loggingIn}}
          {{>loading}}
        {{else}}
          {{> Template.dynamic template=yield}}
        {{/if}}
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
    <!-- /#wrapper -->
</template>
